.Dish {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    margin-bottom: 20px;
    background-color: #538a57;
    width: 80%;
    color: #fff;
    text-decoration: none!important;
}

.Dish .title {
    font-weight: 700;
    font-size: 30px;
    margin: 10px 0 20px;
}

.Dish .img-container {
    width: 267px;
    margin-right: 8%;
}

.Dish .img {
    height: 100%;
}

.Dish .price {
    margin: 10px 20px 0 auto;
    font-size: 25px;
}
