@import "variables.scss";

.User {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 20px;
    background-color: $dish-bg-color;
    width: 100%;
    color: #fff;
    text-decoration: none !important;

    .text-container {
        margin-right: auto;

        .name, .name .input {
            font-weight: 700;
            font-size: 30px;
            margin: 10px 0 20px;
        }
    }

    .text-container {
        margin-left: 10px;

        .input::placeholder {
            color: #353535;
        }

        .input-container {
            margin: 0;
            .input {
                color: #fff;
                margin: 0;
            }
        }
    }

    @media(max-width: 768px) {
        flex-direction: column;
        height: auto;
        width: auto;

        .text-container {
            padding: 5px;
        }
    }

    .input {
        box-sizing: border-box;
        border: $bg-color 2px solid;
        width: 100%;
    }
}
