@import "variables.scss";

.ControlIcons {
    margin-left: 5px;
    display: flex;
    flex-direction: column;

    svg {
        margin-bottom: 5px;
        cursor: pointer;
    }

    &.disabled svg {
        cursor: default;
    }

    @media (max-width: 768px) {
        flex-direction: row;
        margin-bottom: 30px;
        margin-left: 15px;
        svg {
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}
