@import "variables.scss";

.About {
    display: flex;
    flex-direction: column;
    align-items: center;

    .control-container {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .AddElement {
        background: $border-color;
        width: 50%;
        color: #fff;
    }

    @media (max-width: 768px) {
        .control-container {
            flex-direction: column;
        }
    }
}
