.Category {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 40px;
    background-color: #538a57;
    width: 90%;
    color: #fff;
    text-decoration: none !important;
}

.Category .category-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.Category .category-container .title {
    font-weight: 700;
    font-size: 35px;
    margin: 10px 0 20px;
}

.Category .img-container {
    width: 267px;
    margin-right: 8%;
}

.Category .img {
    height: 100%;
}
