@import "variables.scss";

.BackButton {
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 20px;
    color: #000;

    background-color: $bg-color;
    padding: 10px;
    border: #528a57 solid 2px;
    @media (min-width: 769px) {
        position: fixed;
        top: 50%;
        left: 3%;
    }
}
