@import "variables.scss";

.ImgUpload {
    height: 100%;
    box-sizing: border-box;
    display: flex;

    .file-input {
        width: 100%;
        box-sizing: border-box;
        margin: 5px;
    }

    svg {
        cursor: pointer;
        margin-left: 10px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        margin: 10px 0 0;
    }
}
