@import "variables.scss";

.ImgUpload {
  height: 100%;
  svg {
    cursor: pointer;
      margin-left: 10px;
  }
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
      margin: 10px 0 0;
  }
}
