@import "variables.scss";

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 35px;
    background-color: $header-color;
    font-weight: 700;
    font-size: 40px;
    flex-shrink: 0;
    color: #fff;

    .Button {
        color: #fff;
        font-size: 20px;
        flex-shrink: 0;
        margin-right: 20px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 10px 0;
        height: auto;

        .Button {
            margin: 10px 0;
        }

        .title-container {
            flex-shrink: 0;
        }
    }

    .title-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
