.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: #999 0 5px 6px 1px;
    margin-top: 20px;
    background-color: #ffe4c9;
}

.Footer .title {
    font-weight: 700;
    font-size: 40px;
    margin-left: 5%;
}

.Footer .info {
    margin-right: 5%;
}

.Footer .info span {
    margin-left: 30px;
}