@import "variables.scss";

.Users {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .control-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .AddElement {
        background: $dish-bg-color;
        width: 50%;
        color: #fff;
    }

    @media (max-width: 768px) {
        .control-container {
            flex-direction: column;
        }
    }
}
